/* 

COLOR: #27ae60;
NEW COLOR: #42CBA2;

*/

/*-----------------------------*/
/*BASIC SET UP*/
/*-----------------------------*/
* {
    margin:0 ;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    /*font-family: 'Lato', 'Arial', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/*-----------------------------*/
/*REUSABLE COMPONENTS*/
/*-----------------------------*/
.row {
    max-width: 1140px; /*size of our screen*/
    margin: 0 auto;
}

section {
    padding: 80px 0; /*isntead of margin to preserve the bcakground color for section*/
}

nav {
    background-color: white;
}

.box {
    padding: 3%;
}

.big-box {
    padding: 3%;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}



/*-------------HEADINGS--------------*/
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

h1{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 400%;
    color: white;
    word-spacing: 3px;
}

h2 {
    font-size: 190%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #42CBA2;
    content: " "; /*after psudo class have to specify content (no words in this case)*/
    margin: 0 auto;
    margin-top: 30px;
}

/*-------------PARAGRAPHS--------------*/
.long-copy {
    line-height: 145%;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 20px;
}
.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: center;
}


/*-------------ICON--------------*/

.icon-big {
    font-size: 350%;
    display: block;
    color: #42CBA2;
    margin-bottom: 10px;
    text-align: center;
}


.img-frame {
    width: 180px;
    height: auto;
    border: 3px solid #42CBA2;
    border-radius: 50%;   
    transform: translate(-50%, -10%);
}
/*-------------BUTTONS--------------*/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    border-radius: 3px;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
     -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #42CBA2;
    border: 1px solid #42CBA2;
    color:#fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #42CBA2;
    color: #42CBA2;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #289071;
}


.btn-full:hover,
.btn-full:active {
    border:1px solid #289071;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #289071;
    color: #fff;
}

/*-----------------------------*/
/*HEADER*/
/*-----------------------------*/
header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(img/waves.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/waves.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /*sets image to 100% of viewport*/
    
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    height: 500px;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero-text-box p {
    
    display: inline-block;
    color: white;
    width: 50%;
    word-spacing: 3px;
    line-height: 145%;
    margin-bottom: 5px;
}

.main-logo {
    width: auto;
    height: 120px;
    float: left;
    margin-top: 15px;
}
/*------MAIN NAVI--------*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    margin: 25px;
}


.main-nav li a:link,
.main-nav li a:visited {
    color:#42CBA2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    padding: 8px 0;
    
}



/* Mobile Navi*/

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    font-size: 200%;
    color: #fff;
}


/* Sticky Navi*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow:  0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top:18px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color:#555;
}

.sticky .logo-black {display: block;}
.sticky .logo {display: none;}






.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #42CBA2;
}

/*---------STICKY NAVI------------*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 9%;
    background-color: rgba(255, 255, 255, .98);
    -webkit-box-shadow: 0 2px 2px #b19e9e;
    box-shadow: 0 2px 2px #b19e9e;
    z-index: 9999;
}

.sticky .main-logo {
    height: 80px;
    width: 180px;
    margin-top: -2px;
}
.sticky .main-nav {
    margin-top: 1px;
    padding-top: 15px;
    height: 66px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color:#555;
    padding: 1px 0;
    
}

/*-----------------------------*/
/*My Projects VERSION 2*/
/*-----------------------------*/
.section-work {
/*background: #f5f4f4;  /* fallback for old browsers */
    
    /*background-image: url(img/vintage_speckles.png);*/
    background-color: #303030;
}

.section-work h2,
.section-work h4 {
    color:#42CBA2;
}

.section-work p {
    color: white;
}


.projects-box {
    position:inherit;
}
.project-description {
    margin: 4px;
    word-spacing: 2px;
    text-align: center;
    line-height: 145%;
    
}

.project-description a{
    margin-top: 30px;
}

.big-box:after {
    display: block;
    height: 1px;
    width: 100%;
    background-color: white;
    content: " "; /*after psudo class have to specify content (no words in this case)*/
}

.web-photo {
    width: 100%;
    height: auto;
    margin:0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #AARRGGBB;
    transform: translate(-50%, -2%);
}

.web-photo img {
    width: 100%;
   
    -webkit-transition: -webkit-transform 0.5s;
   
    transition: -webkit-transform 0.5s;
   
    transition: transform 0.5s;
   
    transition: transform 0.5s, -webkit-transform 0.5s;
   
   
}

.web-photo img:hover{
     -webkit-transform: scale(1.05);
     transform: scale(1.05);
    opacity: .7;
}


/*-----------------------------*/
/*PRICING*/
/*-----------------------------*/
.section-pricing {

 
    background:#42CBA2;
}

.pricing-header {
    margin-bottom: 1.5%;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-box div:last-child {
    text-align: center;
    border: 0;
}
.plan-price {
    font-size:300%;
    margin-bottom: 10px;
    font-weight: 300;
    color: #42CBA2;
    
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
    
}

.plan-box ul li{
    padding:5px 0; 
}

/*------------------------------------------------- */
/* FORM */
/*--------------------------------------------------*/

.section-form {

    background: #888;
    background-attachment: fixed;
    background-size: cover; /*covers whole section with the backgroun BEST PRACTICE*/
    color: #fff;
}

contact-form {
    width: 60%;
    margin: 0 auto;
    
}
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border:1px solid #ccc;
}
textarea {
    height:100px;
}
*:focus {
    outline: none; 
}

/*------------------------------------------------- */
/* FOOTER */
/*--------------------------------------------------*/


footer {
    background-color: black; 
    padding: 40px;
    font-size: 80%;
}
footer h3 {
    
    font-size: 200%;
    color:white;
    text-align: center;
    margin-top:25px; 

}
footer img{
    
    height: 90px;
    width: auto;
    margin-left: 20px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
    font-size: 180%;
    margin-top: 20px;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color:#888; 
    -webkit-transition: color 0.2s; 
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
} 

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-logo-github,
.ion-logo-linkedin,
.ion-logo-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-logo-github:hover {
    color:#fff;
}
.ion-logo-linkedin:hover {
    color: #0077b5;
}
.ion-logo-instagram:hover {
    color: #ffdc7d;
}
footer p {
    color: #888;
    text-align: center;
    margin-top:20px;
}





/*-----------------------------*/
/*ANIMATIONA*/
/*-----------------------------*/
.js--section-skills {
    opacity: 0;
}

.js--section-skills .animated {
    opacity: 1;
}
